/* ----MEDIA QUERIES---- */
@media screen and (max-width: 1400px) {
    .navul2 li{
        font-size: 12px;
    }
    .art img{
        height: 60px;
        width: 60px;
    }
    .card{
        height: 100px;
        width: 180px;
    }
}

@media screen and (max-width: 1200px) {
    #hamburger-nav {
        display: flex;
    }

    .nav {
        display: none;
    }
    .navul2{
        display: flex;
        flex-wrap: wrap;
    }
    .navul2 li{
        font-size: 10px;
    }
    .art p{
        font-size: 10px
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .artistlist{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .card{
        height: 80px;
        width: 160px;
        margin-bottom: 20px;
    }
    .artist{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .containercard{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .heading{
        font-size: 18px;
    } 
    .list img {
        height: 90px;
        width: 160px;
        cursor: pointer;
    }
    .list{
        padding-bottom: 15px;
    }
    .newmusic{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}